<%-include("partials/header")%>

<style>
    .osm-btn:hover {
        color: #000000 !important;
        background-color: #ffffff !important;
    }
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: #000000 !important;
    }
</style>

<div class="main">
<% for(let h of hangar) { %>
    <div style="font-size: 0; color: #ffffff; text-shadow: 0 0 7px #00000088;">
        <div style="<%= 'position: absolute; padding: 0 50px; width: 50%;' + h.side + ' : 0;' %>">
            <h2 style="text-transform: uppercase; font-weight: 800; font-size: 5.3vw;"><%= h.name %></h2>
            <div style="font-size: 1.3vw; margin-bottom: 5vh;">
                <%= h.desc %> <br>
            </div>
            <a href="#" style="padding: 1.2vw 3.6vw; border: 2px solid #ffffff; font-size: 1.2vw; font-weight: 700; color: #ffffff; background-color: transparent; transition: .3s all; text-shadow: none;" class="osm-btn">READ MORE</a>
        </div>

        <img src="<%= h.src %>" width="100%">
    </div>
<% } %> 
</div>

<script>
    let main = document.querySelector('.main');
    let nav = document.querySelector('.transparent');

    let shift = window.getComputedStyle(nav).getPropertyValue('height');
    // console.log(shift);
    main.style.marginTop = shift;
</script>

<%-include("partials/footer")%>
