<%-include("partials/header")%>

<style>
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: #000000 !important;
    }
    .outer {
        display: flex;
        display: -moz-flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .box1 {
        width: 27%;
        min-width: 300px;
        flex-shrink: 1;
        text-align: center;
        margin: 40px 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0 0 10px 10px;
    }
    .sidebar a{
        display:block;
        padding: 0.85rem 2rem;
        color: white;
        font-family: 'Crete Round', serif;
    }

    .sidebar{
        background-color: black;
        position:absolute;
        top:0rem;
        left:0;
        bottom:0;
    }
    #contact {
        z-index: 1;
    }
</style>

<div class="main" style="background-color: #eeeeee; padding: 40px 0;">
    <div class="outer">
        <div class="sidebar">
            <a href="">2020</a>
            <a href="">2019</a>
            <a href="">2018</a>
            <a href="">2017</a>
            <a href="">2016</a>
            <a href="">2015</a>
            <a href="">2014</a>
            <a href="">2013</a>
            <a href="">2012</a>
            <a href="">2011</a>
        </div>

        <% members["2k18"].map(m => { %>
        <div class="box1">
            <div class="ctn" style="transform: translateY(-20%);">
                <img src="/UAS-Past/<%= m.src %>" height="120" width="120" style="border-radius: 50%; border: 5px solid #ffffff;">
                <p style="font-size: 18px; font-weight: bold; text-transform: uppercase;"><%= m.name %></p>
                <div><%= m.rank %></div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<script>
    let main = document.querySelector('.main');
    let nav = document.querySelector('.transparent');

    let shift = window.getComputedStyle(nav).getPropertyValue('height');
    // console.log(shift);
    main.style.marginTop = shift;
</script>

<%-include("partials/footer")%>
