<%-include("partials/header")%>

<style>
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: #000000 !important;
    }
    .specs {
        width: 50%;
        flex-shrink: 0;
        color: #5b5b5b;
    }
</style>

<div class="main">
    <img class="bg-img" src="<%= info.img %>" width="100%">
    <h3 style="text-transform: uppercase; font-weight: 800; font-size: 5.3vw; text-align: center; color: #b29c71; padding: 60px 0;"><%= info.name %></h3>

    <div class="ctn">
        <p style="font-size: 20px; color: #777777; padding: 20px; text-align: center; padding: 0 20% 50px 20%;"><%= info.desc %></p>
        <img style="background-color: #222222;" src="<%= info.svg %>">

        <h4 style="text-align: center; font-weight: 700; font-size: 40px;"><%= info.name %> Specifications</h4>
        <ul style="margin-top: 40px; font-size: 18px; line-height: 33px; display: flex; flex-wrap: wrap; width: 100%; padding: 0 20%;">
            <% for(let i of info.specs) { %>
                <li class="specs"><%= i %></li>
            <% } %>
        </ul>
    </div>
</div>

<script>
    let main = document.querySelector('.main');
    let nav = document.querySelector('.transparent');

    let shift = window.getComputedStyle(nav).getPropertyValue('height');
    // console.log(shift);
    main.style.marginTop = shift;
</script>

<%-include("partials/footer")%>
