<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<style>
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: #000000 !important;
    }
    .specs {
        width: 50%;
        flex-shrink: 0;
        color: #5b5b5b;
        padding: 0 14%;
    }
</style>

<div class="main">
    <img class="bg-img" src="<%= info.img %>" width="100%">
    <h3 style="text-transform: uppercase; font-weight: 800; font-size: 5.3vw; text-align: center; color: #b29c71; padding: 60px 0;"><%= info.name %></h3>

    <div class="ctn">
        <p style="font-size: 20px; color: #777777; padding: 20px; text-align: center; padding: 0 13% 50px 13%;"><%= info.desc %></p>
        <div style="text-align: center;"><img style="background-color: #222222;" src="<%= info.svg %>"></div>

        <h4 style="text-align: center; font-weight: 700; font-size: 40px;"><%= info.name %> Specifications</h4>
        <ul style="margin: 80px 0; font-size: 18px; line-height: 33px; display: flex; flex-wrap: wrap; width: 100%;">
            <% for(let i of info.specs) { %>
                <li class="specs"><%= i %></li>
            <% } %>
        </ul>
    </div>
</div>

<script>
    let main = document.querySelector('.main');
    let nav = document.querySelector('.transparent');

    let shift = window.getComputedStyle(nav).getPropertyValue('height');
    // console.log(shift);
    main.style.marginTop = shift;
</script>

<%-include("partials/footer")%>
