<%-include("partials/header")%>

<style>   
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: rgba(0,0,0,0.75) !important;
    }

    .ctn{
        display: flex;
        flex-direction: row;
    }

    .ctn h4{
        font-size: 2.5rem;
        font-weight: 500;
        color:  #b29c71;
        font-family: 'Crete Round', serif;
    }

    .ctn p{
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
    }
</style>

<div class="main" style="background-image: url(texture.jpg); background-size: cover; background-attachment: fixed; padding: 40px 0;">
    <div class="ctn">
        <div class="row">
        <% projs.map(p => { %>
            <div class="col s12 m6 l4">
                <div class="card" style="margin: 70px 25px;">
                    <div class="card-image">
                        <img src="/<%= p.img %>">
                    </div>
                    <div class="card-content">
                        <p style="color: #000; font-size: 20px;"><%= p.name %></p>
                        <br>
                        <p style="color: #555;"><%= p.desc %></p>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
</div>

<script>
    let imgs = [...document.querySelectorAll('.card-image img')];
    let min = 5000;
    imgs.map(i => {
        let h = window.getComputedStyle(i, null).getPropertyValue('height');
        if(h < min) min = h;
    });
    console.log(min);
</script>

<%-include("partials/footer")%>
