<%-include("partials/header")%>

<style>   
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: rgba(0,0,0,0.75) !important;
    }

    .ctn{
        display: flex;
        flex-direction: row;
    }

    .card-panel h5{
        font-size: 20px;
        color:  #000;
        font-family: 'Crete Round', serif;
        padding: 0 20px;
    }

    .card-panel p{
        color: #555;
        font-family: 'DM Sans', sans-serif;
        padding: 0 20px;
    }
    div.card-container {
        -moz-column-width: 20rem;
        -webkit-column-width: 20rem;
        -moz-column-gap: 5rem;
        -webkit-column-gap: 5rem;
        margin: 0 3rem;
    }

    .card-panel {
        display: inline-block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    .main {
        background-image: url(texture.jpg); 
        background-size: cover; 
        background-attachment: fixed; 
        padding: 100px 0 40px 0;
    }

</style>

<div class="main">
  <!-- Card Container -->
  <div class="row card-container">
    <% projs.map(p => { %>
    <div class="card-panel">
      <img src="/<%= p.img %>" width="100%">
      <h5 id="title"><%= p.name %></h5>
      <p id="description"><%= p.desc %></p>
    </div>
    <% }) %>
  </div>
</div>

<script>
    document.title = "Upcoming Projects • UAS-DTU";
</script>

<%-include("partials/footer")%>
