<%-include("partials/header")%>

<style>   
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: rgba(0,0,0,0.75) !important;
    }

    .ctn{
        display: flex;
        flex-direction: row;
    }

    .upcoming_events .col{
        padding:0 4vw;
    }

    .card-panel h5{
        font-size: 20px;
        color:  #000;
        font-family: 'Crete Round', serif;
        padding: 0 20px;
    }

    .card-panel p{
        color: #555;
        font-family: 'DM Sans', sans-serif;
        padding: 0 20px;
    }

    .card-panel {
        display: inline-block;
        width: 30% !important;
        padding: 0;
        margin-bottom: 20px;
    }
    .main {
        background-image: url(texture.jpg); 
        background-size: cover; 
        background-attachment: fixed; 
        padding: 100px 0 40px 0;
    }

</style>
<%var count=0%>

<div class="main">
  <!-- Card Container -->
  <% projs.map(p => { %>
  <%if(count%3==0){%>  
  <div class="row card-container upcoming_events">
  <%}%>
  <div class="col l4 m4 s12">     
    <div class="card">
        <div class="card-image">
          <img src="/<%= p.img %>">
        </div>
        <div class="card-content">
            <div class="card-title"><%= p.name %></div>  
          <p><%= p.desc %></p>
        </div>
      </div>
    </div>
    <%if((count+1)%3==0){%>   
  </div>
  <%}%>
  <%count = count+1;%>
  <%})%>
</div>

<script>
    document.title = "Upcoming Projects • UAS-DTU";
</script>

<%-include("partials/footer")%>
